:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Raleway", sans-serif;
  --background-color: #f9f7fe;
  --secondary-color: #85ac7d;
  --tertiary-color: #d69d81;
}

.hero {
  text-align: center;
  background-color: var(--background-color);
  padding: 100px 200px;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: 700;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 50px;
  margin-top: 120px;
  margin-bottom: 10px;
}

.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: 800;
}

.description {
  font-size: 20px;
}

.btn-branding {
  background-color: var(--secondary-color);
  color: white;
  padding: 6px 22px;
  border-radius: 4px;
}

.btn-travel {
  border: 1px solid;
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
  padding: 6px 22px;
  border-radius: 4px;
}
