:root {
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Raleway", sans-serif;
  --background-color: #f9f7fe;
  --secondary-color: #85ac7d;
  --tertiary-color: #d69d81;
}

.hero {
  text-align: center;
  background-color: var(--background-color);
  padding: 100px 200px;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: 700;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-family: var(--heading-font-family);
  font-size: 50px;
  margin-top: 120px;
  margin-bottom: 10px;
}

.description {
  font-size: 20px;
  line-height: 1.5;
}

.btn-branding {
  border: 2px solid;
  background-color: var(--secondary-color);
  color: white;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 400;
}

.last-trips {
  font-family: var(--default-font-family);
  font-size: 25px;
  font-weight: 800;
  margin: 50px auto;
}
.btn-travel {
  border: 2px solid;
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
  padding: 6px 22px;
  border-radius: 4px;
  margin-top: 20px;
  font-weight: 400;
}

.btn-branding:hover {
  background-color: white;
  border: 2px solid;
  border-color: var(--secondary-color);
  font-weight: 400;
  color: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.btn-travel:hover {
  background-color: var(--tertiary-color);
  color: white;
  transition: all 200ms ease-in-out;
}
.container p {
  text-align: justify;
}

img {
  border-radius: 4px;
}

img:hover {
  transform: scale(1.2);
  transition: all 300ms ease-in-out;
}

.about-section-container {
  padding: 70px 100px;
}

.about-section-container h1 {
  font-size: 50px;
  margin-top: 30px;
}

.about-section-container h2 {
  font-weight: 800;
  font-size: 20px;
  margin-top: 20px;
}

.about-section-container p {
  margin-top: 20px;
}

.profile {
  display: block;
}

.profile:hover {
  transform: none;
}

.destinations-title {
  text-align: center;
  font-size: 54px;
  margin: 40px auto 10px;
}

.container-destinations {
  padding: 60px;
}

.destinations-picture:hover {
  transform: none;
}

.destination-grid-title {
  text-align: center;
  margin: 15px 0 0;
  font-weight: 600;
}

.destination-grid-description {
  text-align: center;
  font-family: var(--default-font-family);
  font-size: 20px;
  opacity: 0.8;
  margin-bottom: 30px;
}

.container-contacts {
  text-align: center;
}

.container-contacts h1 {
  font-size: 50px;
  margin-top: 100px;
}

.container-contacts h3 {
  font-size: 30px;
  margin-top: 40px;
  font-weight: 600;
}

.container-contacts a {
  font-family: var(--default-font-family);
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 20px;
}

nav ul {
  padding: 0px;
  margin: 0px 20px 0px;
}
nav li {
  text-decoration: none;
  list-style-type: none;
  display: inline;
  margin: 20px;
}

nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  line-height: 50px;
  transition: all 100ms ease-in-out;
}

.logo {
  margin-left: 30px;
  font-size: 20px;
}

nav a:hover,
nav li.active a {
  color: var(--tertiary-color);
}

@media (max-width: 994px) {
  .hero {
    padding: 50px;
  }
  h1 {
    font-size: 60px;
    text-align: center;
    padding: 0;
  }
  .last-trips {
    font-size: 20px;
    margin: 25px auto;
  }
  .container h3 {
    margin-top: 0px;
  }
  .container a {
    margin: 10px auto 50px;
  }

  .about-section-container {
    padding: 20px 20px !important;
  }
  .about-section-container h1 {
    font-size: 30px !important;
    text-align: center;
  }
  .about-section-container h2 {
    text-align: center;
  }
  .about-section-container p {
    font-size: 15px;
    text-align: justify;
  }
  .about-section-container .btn-branding {
    display: block;
    margin-bottom: 20px;
  }
  .about-section-container .profile {
    max-width: 80%;
  }
}

@media (max-width: 767px) {
  nav li {
    margin: 5px 5px 5px;
  }

  nav a {
    font-size: 15px;
  }
}
